$main-app-color-dark: #24292e;
$main-app-color-light: #2d3238;
$secondary-app-color-dark: #2C445C;
$secondary-app-color-light: #8396A8;
$third-app-color-dark: #6CA7E1;
$third-app-color-light: #ABC3DB;

$main-app-shadow-color: #1b1e22;